.status-area {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.single-status {
    padding: 10px 9px;
    border-radius: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    &.warning {
        color: #7a9700;
        background-color: #faffdc;
    }
    &.error {
        color: #ff114a;
        background-color: #ffeced;
    }
    &.success {
        color: #29b45d;
        background-color: #e7fdf4;
    }

    &-title {
        font-size: 0.9rem;
        font-weight: 800;
    }
    &-time {
        float: left;
        color:#696678;
        font-size: 0.75rem;
    }
}
.status-modal-body{
    white-space: pre-wrap;
    word-break: break-word;
}
