.canvas-menu{
    font-size:1rem;
    width: 100%;
    color:white;
    cursor:pointer;
    background-color:#0031c9;
    border-radius: 6px;
    margin-left: 2px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding: 4px;
    padding-left: 5px;
    border-left: 3px solid transparent;
}
.canvas-menu:hover{
    /* border-left: 3px solid red; */
    background: #0031c9;
}

.canvas-active{
    font-weight: 900;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
